<!-- Nav bar -->

<nav class="navbar fixed-top">
    <div class="container">
        <div class="logo">
            <a routerLink="home">
                <img class="w-100" src="assets/images/favicon.png" alt="">
            </a>
        </div>

        <ul>
            <li>
                <a routerLink="pricing" routerLinkActive="active-link">Pricing</a>
            </li>

            <li>
                <a routerLink="dashboard" routerLinkActive="active-link">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>

<!-- End Nav bar -->