/* ******************** Hero section ************************ */
.hero-section {
	position: relative;
	inset: 0;
	height: 100vh;
	padding-top: 4.5rem;
	background-image: url('../../../assets/images/hero-image.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
	display: flex;
	align-items: center;
	.container {
		max-width: 90%;
		margin: auto;
		padding: 5rem 5rem 2rem 5rem;
		color: #fff;
		position: relative;
		.overlay-bg {
			position: absolute;
			inset: 0;
			background-color: rgba($color: #000000, $alpha: 0.2);
			backdrop-filter: blur(30px) brightness(90%) saturate(170%) contrast(100%);
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		span {
			margin: 1rem 0;
		}
		h1 {
			font-weight: bold;
			font-size: 40px;
		}
		.hero-btns {
			display: flex;
			margin: 3rem 0;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 248px;
				height: 54px;
				text-transform: uppercase;
				color: #fff;
				transition: all 0.3s ease-in-out;
				&:nth-child(1) {
					background-color: #C50000;
					&:hover {
						background: #fff;
						color: #000;
					}
				}
				&:nth-child(2) {
					background: transparent;
					border: 1px solid #fff;
					margin-left: 20px;
					&:hover {
						background: #C50000;
						color: #fff;
						border-color: #C50000;
					}
				}
			}
		}
		.hero-slide-controls {
			display: flex;
			a {
				background: #C50000;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 24px;
				height: 24px;
				font-size: 30px;
				padding: 20px;
				margin-right: 16.3px;
				transition: all 0.3s ease-in-out;
				&:hover {
					background: #fff;
					color: #000;
				}
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
@media screen and (max-width:1025px) {
	.hero-section {
		height: unset;
		padding-top: 8rem;
		padding-bottom: 2rem;
	}
}


@media screen and (max-width:426px) {
	.hero-section {
		.container {
			padding: 1rem;
			.hero-btns {
				a {
					font-size: 11px;
				}
			}
		}
	}
}
