  <!-- Hero Section -->

  <section class="hero-section">
    <div class="container">
        <div class="overlay-bg">
            <svg id="overlay"></svg>
        </div>

        <div class="row">
            <div class="col-xl-6 d-flex flex-column ">
                <span class="text-uppercase">Lunar Robotics</span>
                <h1>BOLDLY GO WHERE NO <br> ROBOT HAS GONE BEFORE</h1>
                <p>We build the world’s best robot development platforms. <br>
                    Developing autonomous robots has never been easier.</p>
                
                <div class="hero-btns">
                    <a href="">Explore our robots</a>
                    <a href="">Talk to a human</a>
                </div>

                <div class="hero-slide-controls">
                    <a href=""> < </a>
                    <a href=""> > </a>
                    
                </div>
            </div>
            <div class="col-xl-6">
                <img class="w-100" src="assets/images/503.png" alt="">
            </div>
        </div>
    </div>

</section>

<!-- End Hero Section -->