<section class="price-section">
    <div class="container">
        <div class="price-header">
            <h1>Pricing</h1>
            <p>The preconfigured packages offer everything needed to get started quickly. <br>
                Don’t see what you’re looking for? <a>Visit our sensors and components store</a> or <a>contact us.</a>
            </p>
        </div>

        <div class="product-container">
            <div class="choose-product-type">
                <a class="show" (click)="setProductType($event , 0)">Developer Package</a>
                <a class="hide" (click)="setProductType($event , 1)">Expolrer Package</a>
                <a class="hide" (click)="setProductType($event , 2)">Vision Package</a>
            </div>

            <div class="product-item">
                <div class="caption col-lg-6 px-0 mx-0 d-flex flex-column">
                    <h4>{{selectedProduct.title}}</h4>
                    <p>{{selectedProduct.description}}</p>

                    <span>{{selectedProduct.price}} <sup>EGP</sup></span>

                    <a>Purchase</a>

                </div>

                <div class="col-lg-6">
                    <img class="w-100" [src]="selectedProduct.imagePath" alt="">
                </div>
            </div>
        </div>

    </div>
</section>