<section class="price-section">
    <div class="container">
        <div class="price-header">
            <h1>Pricing</h1>
            <p>The preconfigured packages offer everything needed to get started quickly. <br>
                Don’t see what you’re looking for? <a>Visit our sensors and components store</a> or <a>contact us.</a>
            </p>
        </div>

        <div class="product-container">
            <div class="choose-product-type">
              
                <button class="show" (click)="setProductType($event , 0)">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.847px" height="451.847px"
                        viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                        xml:space="preserve" class="toggle-icon">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                    <span>Developer Package</span>
                </button>

                <button class="hide" (click)="setProductType($event , 1)">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.847px" height="451.847px"
                        viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                        xml:space="preserve" class="toggle-icon">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
    c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
    c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                    <span>Expolrer Package</span>
                </button>
                
                <button class="hide" (click)="setProductType($event , 2)">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.847px" height="451.847px"
                        viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                        xml:space="preserve" class="toggle-icon">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
    c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
    c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                    <span>Vision Package</span>
                </button>
            </div>

            <div class="product-item">
                <div class="caption col-lg-6 px-0 mx-0 d-flex flex-column">
                    <h4>{{selectedProduct.title}}</h4>
                    <p>{{selectedProduct.description}}</p>

                    <span>{{selectedProduct.price}} <sup>EGP</sup></span>

                    <a>Purchase</a>

                </div>

                <div class="col-lg-6">
                    <img class="w-100" [src]="selectedProduct.imagePath" alt="">
                </div>
            </div>
        </div>

    </div>
</section>